body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.App {
    position: relative;
    background-color: #f7f7f7;
    width: 64rem;
    height: 48rem;
    box-shadow: 0.5rem 0.5rem 5rem black;
    border-radius: 0.5rem;
    margin: 0 auto;
}

.title {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    background-image: linear-gradient(180grad, rgba(47, 96, 255, 0.85) 0%, #2f60ff 50%, rgba(47, 96, 255, 0.85) 100%);
    line-height: 4.5rem;
    font-size: 4rem;
    text-align: center;
    color: #1a3489;
    box-shadow: 0 0 2rem black;
}

.app-windows {
    display: grid;
    grid-template-columns: 20% 80%;
}

.users-panel {
    width: 100%;
    height: 43.5rem;
    border-radius: 0 0 0 0.5rem;
    background: #172f7c;
    z-index: 5;
}

.users-blocks {
    width: 100%;
    display: inline-block;
    margin: 1rem 5%;
}

.user-block {
    cursor: pointer;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2f60ff;
    width: 90%;
    border-radius: 0.5rem;
    line-height: 3rem;
    color: #f7f7f7;
    font-size: 1.2rem;
}

.user-block .status {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 1rem;
    border-radius: 50%;
}

.user-block .status-name {
    width: 100%;
    line-height: 3rem;
}

.red {
    background-color: #ca3838;
}

.green {
    background-color: #15ab5c;
}

.chat {
    width: 97.5%;
    height: 35.5rem;
    overflow: auto;
    margin-left: 2.5%;
    padding-bottom: 2rem;
}

.chat::-webkit-scrollbar {
    width: 1em;
}

.chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

.chat::-webkit-scrollbar-thumb {
    background-color: rgba(47, 96, 255, 0.85);
    outline: 1px solid slategrey;
}

.send-form {
    border-radius: 0 0 0.5rem 0;
    display: grid;
    grid-template-columns: 90% 10%;
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 6rem;
    background-image: linear-gradient(180grad, rgba(47, 96, 255, 0.85) 0%, #2f60ff 50%, rgba(47, 96, 255, 0.85) 100%);
    text-align: center;
    color: #e5e5e5;
    box-shadow: 0 0 2rem black;
}

.send-form textarea {
    background-color: rgb(102, 144, 255);
    color: #11225b;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    resize: none;
    border: none;
    outline: none;
    box-shadow: inset 0 0 0.2rem #11225b;
}

.send-form textarea::placeholder {
    color: rgba(16, 32, 86, 0.67);
}

.send-form textarea:focus {
    box-shadow: inset 0 0 0.5rem #11225b;
}


.button-send {
    width: 3rem;
    height: 3rem;
    padding: 1.5rem 0 0 1.5rem;
    stroke: #172f7c;
    fill: #172f7c;
}

.button-send:hover {
    stroke: #11225b;
    fill: #11225b;
    cursor: pointer;
}

.message-box {
    padding-top: 1rem;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.message-box .name {
    color: #ca3838;
    font-weight: bold;
}

.message-box .message {
    word-wrap: break-word;
    max-width: 32rem;
    margin-top: 0.5rem;
    width: max-content;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background-color: #1a3489;
    color: #f7f7f7;
    font-size: 1.2rem;
}

.message-box .message .time {
    margin-right: 1rem;
    font-size: 1rem;
    color: #6690ff;
    padding-left: 0.5rem;
    font-weight: bold;
}